@font-face {
  font-family: "Financier";
  src: url("../../static/financier/financiertext-regular.woff");
}

@font-face {
  font-family: "Sohne";
  src: url("../../static/sohne/Sohne-Buch.woff");
  font-weight: normal;
}

@font-face {
  font-family: "Sohne";
  src: url("../../static/sohne/Sohne-Fett.woff");
  font-weight: bold;
}

@font-face {
  font-family: "Sohne";
  src: url("../../static/sohne/Sohne-Halbfett.woff");
  font-weight: 500;
}

@font-face {
  font-family: "Sohne";
  src: url("../../static/sohne/Sohne-Leicht.woff");
  font-weight: 300;
}

body {
  font-family: Sohne, sans-serif;
  font-size: 0.9em;
  letter-spacing: 0.01em;
}

h1, h2, h3, h4 {
  font-family: Financier, Merriweather, serif;
  letter-spacing: 0.03em;
}
